header {
    background: url(../../images/image-hero-mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 18.75rem;
    // z-index: 98;

    nav {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.875rem 1.5625rem;
        width: 100%;
        z-index: 201;

        .right {
            ul {
                display: none;
            }
        }
    }

    .menu {
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translateX(-50%);
        width: 20.3125rem;
        height: 13.4375rem;
        border-radius: 0.625rem;
        display: none;
        z-index: 201;

        ul {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background-color: $colorWhite;
            border-radius: 0.625rem;

            li {
                height: calc(100% / 3);
                font-size: 1.125rem;
                font-weight: 500;
                transition: all 0.2s ease;

                &:not(:last-child) {
                    border-bottom: 0.0625rem solid rgba(122, 122, 122, 0.25);
                }

                &:active {
                    background-color: rgba(122, 122, 122, 0.15);
                }

                a {
                    display: block;
                    padding: 1.5625rem 1.5625rem;
                }
            }
        }
    }
}

@media only screen and (min-width: 62rem) {
    header {
        background: url(../../images/image-hero-desktop.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        height: 25rem;

        nav {
            padding: 3.125rem 6.25rem;
            .right {
                .icon-toggle {
                    display: none;
                }

                ul {
                    display: flex;
                    justify-content: space-between;
                    color: $colorWhite;
                    width: 18.75rem;
                    font-weight: 500;
                }
            }
        }
    }
}
