html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Commissioner', sans-serif;
  font-size: 1rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  color: #7a7a7a;
  line-height: 1.5;
}

button {
  font-family: 'Commissioner', sans-serif;
  font-size: 1rem;
}

button:hover {
  cursor: pointer;
}

button.btn-cta {
  width: 13.4375rem;
  height: 3.4375rem;
  border-radius: 1.875rem;
  font-weight: 700;
  background-color: #3cb4ac;
  border: none;
  color: white;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

button.btn-cta:hover {
  cursor: pointer;
  background-color: #147b74;
  -webkit-transform: translateY(-0.3125rem);
          transform: translateY(-0.3125rem);
}

button.btn-cta:active {
  -webkit-transform: translateY(-0.15625rem);
          transform: translateY(-0.15625rem);
}

button.btn-icon {
  width: 3.4375rem;
  height: 3.4375rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
}

button.disabled {
  background-color: #7a7a7a;
  color: white;
}

span {
  color: black;
}

span.highlighted {
  margin-top: 0.3125rem;
  display: block;
  color: #3cb4ac;
  font-weight: 500;
}

span.highlighted-black {
  display: block;
  color: black;
  font-weight: 700;
}

span.bolded {
  font-weight: 700;
  font-size: 1.25rem;
}

.overlay {
  background: black;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), color-stop(90%, rgba(255, 255, 255, 0)));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0) 90%);
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
}

.modal-overlay {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), color-stop(75%, rgba(122, 122, 122, 0.5)));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(122, 122, 122, 0.5) 75%);
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 205;
}

header {
  background: url(../../images/image-hero-mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 18.75rem;
}

header nav {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.875rem 1.5625rem;
  width: 100%;
  z-index: 201;
}

header nav .right ul {
  display: none;
}

header .menu {
  position: absolute;
  top: 30%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 20.3125rem;
  height: 13.4375rem;
  border-radius: 0.625rem;
  display: none;
  z-index: 201;
}

header .menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
  border-radius: 0.625rem;
}

header .menu ul li {
  height: calc(100% / 3);
  font-size: 1.125rem;
  font-weight: 500;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

header .menu ul li:not(:last-child) {
  border-bottom: 0.0625rem solid rgba(122, 122, 122, 0.25);
}

header .menu ul li:active {
  background-color: rgba(122, 122, 122, 0.15);
}

header .menu ul li a {
  display: block;
  padding: 1.5625rem 1.5625rem;
}

@media only screen and (min-width: 62rem) {
  header {
    background: url(../../images/image-hero-desktop.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 25rem;
  }
  header nav {
    padding: 3.125rem 6.25rem;
  }
  header nav .right .icon-toggle {
    display: none;
  }
  header nav .right ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    color: white;
    width: 18.75rem;
    font-weight: 500;
  }
}

.content {
  position: absolute;
  top: 30%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 0 0 3.125rem 0;
}

.content .project-summary {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: white;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0rem 0.0625rem 0.25rem;
          box-shadow: rgba(0, 0, 0, 0.16) 0rem 0.0625rem 0.25rem;
  width: 20.3125rem;
  height: 17.5rem;
  padding: 1.875rem 0.9375rem;
  border-radius: 0.625rem;
}

.content .project-summary__logo {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.content .project-summary__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  position: relative;
}

.content .project-summary__buttons .checkbox-wrapper {
  position: relative;
}

.content .project-summary__buttons .checkbox-wrapper label {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.content .project-summary__buttons .checkbox-wrapper label .bookmark {
  display: none;
  margin: 0;
  padding: 0;
}

.content .project-summary__buttons .checkbox-wrapper input[type='checkbox'] {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 3.4375rem;
  height: 3.4375rem;
  border-radius: 50%;
  -webkit-transform: translateY(-0.075em);
          transform: translateY(-0.075em);
  display: -ms-grid;
  display: grid;
  place-content: center;
}

.content .project-progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: white;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0rem 0.0625rem 0.25rem;
          box-shadow: rgba(0, 0, 0, 0.16) 0rem 0.0625rem 0.25rem;
  width: 20.3125rem;
  height: 25.9375rem;
  margin-top: 1.875rem;
  border-radius: 0.625rem;
}

.content .project-progress hr {
  width: 30%;
}

.content .project-progress__detail span {
  font-size: 2rem;
  margin-bottom: 0.3125rem;
}

.content .project-progress__detail .label-backer-progress {
  visibility: hidden;
}

.content .project-progress__detail .backer-progress {
  width: 17.5rem;
  height: 0.625rem;
  border-radius: 1.25rem;
}

.content .project-progress__detail .backer-progress::-webkit-progress-bar {
  background-color: #dedede;
  border-radius: 1.25rem;
}

.content .project-progress__detail .backer-progress::-webkit-progress-value {
  background-color: #3cb4ac;
  border-radius: 1.25rem;
}

.content .project-about {
  background-color: white;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0rem 0.0625rem 0.25rem;
          box-shadow: rgba(0, 0, 0, 0.16) 0rem 0.0625rem 0.25rem;
  width: 20.3125rem;
  margin-top: 1.875rem;
  border-radius: 0.625rem;
  padding: 2.5rem 1.25rem;
}

.content .project-about__desc {
  margin-top: 1.875rem;
}

.content .project-about .plan-card {
  border: 0.0625rem solid rgba(122, 122, 122, 0.35);
  border-radius: 0.625rem;
  margin-top: 1.5625rem;
  padding: 1.5625rem;
}

.content .project-about .plan-card.disabled {
  opacity: 0.5;
}

.content .project-about .plan-card__desc {
  margin-top: 1.5625rem;
}

.content .project-about .plan-card span.bolded {
  font-size: 2.25rem;
}

.content .project-about .plan-card p:nth-of-type(2) {
  margin-top: 1.5625rem;
}

.content .project-about .plan-card button {
  width: 9.6875rem;
  height: 3.125rem;
  margin-top: 1.5625rem;
}

@media only screen and (min-width: 62rem) {
  .content {
    top: 47.5%;
  }
  .content .project-summary {
    width: 45.3125rem;
    padding: 1.875rem 3.125rem;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .content .project-summary__logo {
    width: 3.125rem;
    height: 3.125rem;
  }
  .content .project-summary__title {
    margin-top: 1.5625rem;
  }
  .content .project-summary__description {
    margin-top: 1.5625rem;
  }
  .content .project-summary__buttons {
    margin-top: 2.8125rem;
  }
  .content .project-summary__buttons:hover {
    cursor: pointer;
  }
  .content .project-summary__buttons .checkbox-wrapper {
    width: 10.9375rem;
    height: 3.4375rem;
    background-color: rgba(122, 122, 122, 0.1);
    border-radius: 1.875rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .content .project-summary__buttons .checkbox-wrapper label {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-right: 0.625rem;
    z-index: 1;
  }
  .content .project-summary__buttons .checkbox-wrapper label:hover {
    cursor: pointer;
  }
  .content .project-summary__buttons .checkbox-wrapper label .bookmark {
    display: block;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    font-weight: 700;
  }
  .content .project-progress {
    width: 45.9375rem;
    height: 13.125rem;
    background-color: white;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    gap: 0rem 0rem;
        grid-template-areas: 'backed backers days-left' 'progress-bar progress-bar progress-bar';
    padding: 1.5625rem;
  }
  .content .project-progress hr {
    display: none;
  }
  .content .project-progress__detail {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .content .project-progress__detail:nth-child(1) {
    border-right: 0.0625rem solid #7a7a7a;
  }
  .content .project-progress__detail:nth-child(2) {
    border-right: 0.0625rem solid #7a7a7a;
  }
  .content .project-progress__detail:nth-child(3) {
    border-right: 0.0625rem solid #7a7a7a;
  }
  .content .project-progress__detail.backed {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: backed;
  }
  .content .project-progress__detail.backers {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: backers;
  }
  .content .project-progress__detail.days-left {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: days-left;
  }
  .content .project-progress__detail.progress-bar {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: progress-bar;
    position: relative;
  }
  .content .project-progress__detail.progress-bar .backer-progress {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .content .project-about {
    width: 45.9375rem;
    padding: 3.125rem;
  }
  .content .project-about__desc {
    line-height: 2;
    font-size: 1rem;
  }
  .content .project-about .plan-card {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 0.25fr 1fr 1fr;
        grid-template-rows: 0.25fr 1fr 1fr;
    gap: 0rem 0rem;
        grid-template-areas: 'title highlighted' 'desc desc' 'remaining btn-select-reward';
  }
  .content .project-about .plan-card__title {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: title;
  }
  .content .project-about .plan-card__highlighted {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: highlighted;
    justify-self: flex-end;
  }
  .content .project-about .plan-card__desc {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: desc;
  }
  .content .project-about .plan-card__remaining {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: remaining;
  }
  .content .project-about .plan-card .btn-select-reward {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    grid-area: btn-select-reward;
    justify-self: flex-end;
  }
}

.modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  position: absolute;
  top: 15%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 90%;
  padding: 1.5625rem;
  border-radius: 0.625rem;
  z-index: 206;
  font-size: 0.875rem;
  margin-bottom: 1.5625rem;
}

.modal__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal__nav .icon-close-modal:hover {
  cursor: pointer;
}

.modal__desc {
  margin-top: 1.5625rem;
}

.modal__selection {
  border-radius: 0.625rem;
  margin-top: 1.5625rem;
}

.modal__selection__content {
  background-color: white;
  border-radius: 0.625rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0rem 0.0625rem 0.25rem;
          box-shadow: rgba(0, 0, 0, 0.16) 0rem 0.0625rem 0.25rem;
  padding: 1.71875rem;
  border: 0.125rem solid transparent;
}

.modal__selection__content__input {
  height: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.875rem;
}

.modal__selection__content__input input[type='radio'] {
  display: none;
}

.modal__selection__content__input input[type='radio'] + *::before {
  content: '';
  display: inline-block;
  vertical-align: bottom;
  width: 24px;
  height: 24px;
  margin-right: 0.9375rem;
  border-radius: 50%;
  border-style: solid;
  border-width: 1.6px;
  border-color: gray;
}

.modal__selection__content__input input[type='radio'] + *::before:hover {
  cursor: pointer;
}

.modal__selection__content__input input[type='radio']:checked + *::before {
  background: radial-gradient(teal 0%, teal 40%, transparent 50%, transparent);
  border-color: teal;
}

.modal__selection__content__input__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal__selection__content__input__label .orcus {
  font-weight: 700;
}

.modal__selection__content__desc {
  color: #7a7a7a;
  line-height: 1.5;
  font-weight: 300;
}

.modal__selection__content__total-left {
  color: #7a7a7a;
  font-size: 1rem;
  margin: 1.5625rem 0;
  font-weight: 300;
}

.modal__selection form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 0.1fr;
      grid-template-rows: 1fr 1fr 0.1fr;
  gap: 0rem 0rem;
      grid-template-areas: 'label label' 'input button' 'error-msg error-msg';
  height: 100%;
  opacity: 1;
  padding: 1.5625rem;
}

.modal__selection form.active {
  height: 100%;
  opacity: 1;
  padding: 1.875rem 1.25rem;
}

.modal__selection form .form__label {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: label;
  text-align: center;
  font-weight: 300;
  color: #7a7a7a;
}

.modal__selection form .form__input-container {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: input;
  width: 6.25rem;
  height: 3.125rem;
  position: relative;
}

.modal__selection form .form__input-container .dollar {
  position: absolute;
  top: 50%;
  left: 20%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #7a7a7a;
  font-size: 1.125rem;
  font-weight: 500;
}

.modal__selection form .form__input-container input {
  width: 100%;
  height: 100%;
  border-radius: 1.5625rem;
  border: 0.0625rem solid #7a7a7a;
  outline: none;
  text-align: center;
  font-size: 1.125rem;
  font-family: 'Commissioner', sans-serif;
  font-weight: 700;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.modal__selection form .form__input-container input:focus {
  border: 0.0625rem solid #3cb4ac;
}

.modal__selection form .form__input-container input[type='number']::-webkit-outer-spin-button,
.modal__selection form .form__input-container input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.modal__selection form .form__input-container input[type='number'] {
  -moz-appearance: textfield;
}

.modal__selection form .form__button {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: button;
  width: 7.1875rem;
  height: 3.125rem;
}

.modal__selection form .error-message {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: error-msg;
  color: red;
  text-align: center;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-top: 0.625rem;
}

.modal__selection.disabled {
  opacity: 0.5;
}

@media only screen and (min-width: 62rem) {
  .modal {
    width: 45.3125rem;
    padding: 1.875rem 2.8125rem;
  }
  .modal__selection__content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    gap: 0rem 0rem;
        grid-template-areas: 'input remaining' 'desc desc';
  }
  .modal__selection__content__input {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: input;
  }
  .modal__selection__content__input__label .orcus {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 25rem;
  }
  .modal__selection__content__input__label .orcus span {
    margin-top: 0;
    margin-left: 1.25rem;
  }
  .modal__selection__content__desc {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: desc;
    margin-left: 2.4375rem;
  }
  .modal__selection__content__total-left {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: remaining;
    font-size: 1rem;
    margin: 0;
    justify-self: flex-end;
  }
  .modal__selection__content__total-left span {
    font-size: 1rem;
    margin: 0;
  }
  .modal__selection__form {
    width: 100%;
    grid-area: form;
  }
  .modal form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
  }
  .modal form .form__input-container {
    margin-left: 12.5rem;
  }
  .modal form .error-message {
    position: absolute;
    bottom: 0;
    right: 5%;
  }
}

.modal-success {
  background-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 90%;
  height: 25.3125rem;
  border-radius: 0.625rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0rem 0.0625rem 0.25rem;
          box-shadow: rgba(0, 0, 0, 0.16) 0rem 0.0625rem 0.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.875rem 1.5625rem;
  line-height: 1.5;
  text-align: center;
  z-index: 207;
}

.modal-success h2 {
  margin-top: 1.875rem;
  font-size: 1.1875rem;
}

.modal-success p {
  margin-top: 2.1875rem;
  font-size: 0.875rem;
}

.modal-success button {
  margin-top: 2.1875rem;
  width: 6.5625rem;
  height: 2.8125rem;
}

@media only screen and (min-width: 62rem) {
  .modal-success {
    width: 34.375rem;
    height: 28.125rem;
    padding: 2.8125rem 3.4375rem;
  }
  .modal-success h2 {
    margin-top: 3.125rem;
    font-size: 1.5rem;
  }
  .modal-success p {
    line-height: 1.5;
    font-size: 1rem;
    margin-top: 0.9375rem;
  }
  .modal-success button {
    margin-top: 2.5rem;
  }
}

.attribution {
  margin-top: 1.875rem;
  text-align: center;
}

.attribution a {
  color: inherit;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.attribution a:hover {
  color: #3cb4ac;
  text-decoration: none;
}
/*# sourceMappingURL=styles.css.map */